@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

html {
    /* スムーススクロール */
    scroll-behavior: smooth;
}

.transition {
    transition: none !important;
}

/*********
body
**********/

html,
body {
    /* どこがはみ出しているかが分かる.最後消す */
    outline: 1px #000 solid;
    font-size: 16px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: #FCF8F5;
}

/*********
common
**********/
/*********
CTAボタンのオレンジ色
**********/

.common-h2 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.common-h3 {
font-size: 25px;
text-align: center;
margin: 15% 0 5% 0;
font-weight: bold;
}
.common-h3::after {
    content: '';
    display: block;
    width: 25%;
    height: 3px;
    background-color: #FE8C12;
    transform: translate(150%);
    margin-top: 1rem;
}
.common-h4 {
    font-size: 20px;
    text-align: center;
    margin: 30px;
    font-weight: bold;
}
.common-h4-orange {
    font-size: 20px;
    color: #FE8C12;
    margin: 30px;
}
.common-cta-btn {
    background-color: #FE8C12;
    color: #fff;
    border-radius: 50px;
    padding: 1% 5%;
    border: solid 0.5px;
    margin: 50px auto;
    /* display: block; */
    text-align: center;
    font-weight: bold;
}
.common-txt {
    text-align: center;
}

#welcome,#about,#instructor,#course,#lessen,#voice,#access,#contact{
    margin: 0 10%;
}

/*********
header
**********/
.hamburger-btn {
    display: none;
}
.menu-sp {
    display: none;
}
.header {
    background-image: url(../img/front-top.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: clamp(400px, 900px, 900px);
    display: flex;
    justify-content: space-between;
}
h1 {
    width: 200px;
}
.nav-pc {
    margin-right: 30px;
}
.nav-icons {
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.nav-icon {
    /* width: 130px; */
    margin-top: 30px;
    text-align: center;
}
.nav-icon a {
    font-weight: bold;
}
.cta-btn {
    background-color: #FE8C12;
    color: #fff;
    border-radius: 50px;
    padding: 2% 3%;
    border: solid 0.5px;
    /* display: block; */
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.header-sp {
    display: none;
}
/*********
main
**********/
/*********
front-fv
**********/
.front-fv {
    width: 70%;
    display: block;
    margin: auto;
}

/*********
welcome
**********/
.welcome-contents {
    display: flex;
    justify-content: space-between;
}
.welcome-txt {
    width: 50%;
    margin: 3% 5%;
}
.welcome-img {
    width: 50%;
}
.welcome-img img {
    width: 100%;
    border-radius: 20%;
}

/*********
about
**********/
.about-img img {
    width: 50%;
    border-radius: 20%;
    height: auto;
    padding: 0 2%;
}
.about-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.guide-line {
    margin-top: 20px;
    background-color: #F0CDC1;
    color: #D06456;
    font-weight: bold;
    text-align: center;
    padding: 2%;
}
.guide-line a {
    text-decoration:underline;
    text-decoration-color:#D06456;
}
/*********
instructor
**********/
.instructor-contents {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.instructor-content {
    background-color: #fff;
    border-radius: 20%;
    width: 50%;
    margin: 1%;
    padding: 3%;
}
.instructor-content p {
    margin-top: 3%;
}
.instructor-about {
    display: flex;
}
.instructor-img {
    padding: 2%;
    width: 40%;
}
.instructor-img img {
    width: 100%;
    border-radius: 50%;
}
.instructor-txt h4 {
    margin: 0 0 2% 0;
}
.instructor-txt ul li {
    font-size: small;
}
.instructor-txt {
    padding: 1%;
    width: 60%;
}

/*********
course
**********/
.course-contents {
    display: flex;
    justify-content: space-between;
}
.course-content {
    margin: 0 2%;
    width: 33.33333%;
    border-radius: 60px 60px;
    background-color: #fff;
    padding: 0 0 5% 0;
}
.course-content img {
    border-radius: 60px 60px 0 0;
    height: 180px;
}
.course-content p {
    padding: 0 5%;
}
.course-btn {
    text-align: center;
    margin: 5% 0 10% 0;
}
/*********
lessen
**********/
.lessen-contents {
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    padding: 2% 5%;
}
.lessen-movie {
    width: 50%;
}
.lessen-movie img {
    width: 100%;
    padding: 5%;
}
.lessen-content {
    width: 50%;
}
.lessen-content a {
    display: block;
    padding: 1% 0;
}

/*********
voice
**********/
.voice-contents {
    display: flex;
    margin: 5% 0;
}
.voice-img {
    display: inline-block;
    width: 20%;
}
.voice-img img {
    border: 3px solid #FE8C12;
    border-radius: 50%;
}
.voice-content {
    width: 80%;
    background-color: #F6D7BD;
    border-radius: 80px;
    padding: 4%;
    margin-left: 5%;
    position: relative;
}
.voice-content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #F6D7BD;
}

/*********
access
**********/
.map {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; 
    /* 56.25%は16:9。比率を4:3に固定する場合は75% */
    /*heightではなくpadding-topで高さを指定するとレスポンシブできる*/
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*********
contact
**********/
.contact-btn {
    text-align: center;
    margin: 10%;
}
.contact-btn a {
    padding: 1% 10%;
}

/*********
footer
**********/
.footer {
    position: relative;
    background-color: #FE8C12;
    height: 0;
    color: #fff;
  }
  
  .wave {
    position: absolute;
    height: 53px;
    width: 100%;
    background-color: #FCF8F5;
    bottom: 0;
  }
  
  .wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50% 100%;
  }
  
  .wave::before {
    width: 55%;
    height: 100%;
    background-color: #FCF8F5;
    right: -1.5%;
    top: 40%;
  }
  .wave::after {
    width: 55%;
    height: 109%;
    background-color: #FE8C12;
    left: -1.5%;
    top: 60%;
  }
.footer-contents {
    display: flex;
    background-color: #FE8C12;
}
.footer-logo {
    width: 20%;
}
.footer-content {
    width: 80%;
    margin-top: 3%;
}
.nav-footer {
    padding-top: 3%;
}
.footer-nav {
    background-color: #FE8C12;
}
.footer-nav p {
    text-align: center;
    padding: 2%;
}

/*********
スクロールボタンscroll-button
**********/
.scroll-button {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid #F6D7BD;
    text-align: center;
    z-index: 100;
}
.scroll-button-arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top:  3px solid #FE8C12;
    border-left: 3px solid #FE8C12;
    transform: rotate(45deg) translate(8px, 8px);
}

@media screen and (max-width:767px) {
    br {
        display: none;
    }
    #welcome, #about, #instructor, #course, #lessen, #voice, #access, #contact {
        margin: 0 3%;
    }
    .common-h4 {
        margin: 30px 0;
    }
    .common-h3 {
        margin: 25% 0 5% 0;
    }
    .common-h3::after {
        width: 70%;
        transform: translate(20%);
    }
    .common-cta-btn {
        padding: 3% 15%;
    }
    h1 {
        width: 130px;
    }
    .header {
        background-image: url(../img/sp-top.png);
        height: 520px;
    }
    .nav-pc {
        display: none;
    }
    .header-sp {
        display: block;
        margin-bottom: 3rem;
    }
    .header-sp h2 {
        font-weight: bold;
        font-size: 32px;
        margin-left: 10px;
    }
    .header-sp p {
        line-height: 2rem;
        margin-left: 10px;
    }
    .front-fv {
        width: 95%;
    }
    .welcome-contents {
        display: block;
    }
    .welcome-txt {
        width: 100%;
        margin: 3% 0;
    }
    .welcome-img {
        width: 100%;
        margin: 3% 0;
    }
    .about-img {
        display: block;
    }
    .about-img img {
        width: 100%;
        margin: 3% 0;
    }
    .instructor-contents {
        display: block;
    }
    .instructor-content {
        width: 100%;
        margin: 3% 0;
        padding: 6%;
    }
    .course-contents {
        display: block;
    }
    .course-content {
        width: 100%;
        margin: 7% 0;
    }
    .lessen-contents {
        display: block;
    }
    .lessen-movie {
        width: 100%;
    }
    .lessen-content {
        width: 100%;
    }
    .voice-img {
        width: 35%;
        position: relative;
    }
    .voice-img img {
        position: absolute;
        top: 35%;
        height: auto;
    }
    .voice-content {
        padding: 7%;
    }
    .footer-contents {
        display: block;
    }
    .contact-btn {
        padding: 3rem 0;
    }
    .footer-logo {
        width: 100%;
    }
    .footer-content {
        width: 100%;
        margin: 0 0 0 5%;
    }
    .contact-btn a {
        padding: 5% 30%;
        font-size: larger;
    }
    /*********
    hamburger-menu
    **********/
    .hamburger-btn {
        display: block;
        position: absolute;
        right: 30px;
        width: 50px;
        height: 54px;
        transition: 1s;
        border: none;
        background: transparent;
        z-index: 100;
    }
    .inner_line {
        display: block;
        position: absolute;
        right: 0;
        width: 30px;
        height: 3px;
        background-color: #FE8C12;
        transition: 1s;
        border-radius: 4px;
    }
    #line1 {
        top: 20px;
    }
    #line2 {
        top: 30px;
    }
    #line3 {
        bottom: 10px;
    }
    .menu-pc {
        display: none;
    }
    .menu-sp {
        display: block;
        position:fixed;
        z-index: 2;
        top:0;
        right: -130%;
        width:100%;
        height: 100vh;/*表示する高さ*/
        background:rgba(255,255,255,0.9);  /*０.7秒かけてナビメニューがスライドする*/
        transition: .7s;
    }
    .menu-icons {
        display: block;
        position: absolute;
        top:40%;
        left:40%;
        transform: translate(-50%,-50%);
        width: 70%;
        text-align: center;
    }
    .menu-icon {
        margin: 30px 0;
    }
    .menu-icon a {
        font-size: larger;
        display: block;
    }
    /* アイコンをクリックした時の動作のCSS */
    .in{
        right: -20%;
    }
    .line_1,.line_2,.line_3{
        background: #FE8C12;
    }
    .line_1 {
        /*-45度回転させる*/
        transform: translateY(10px) rotate(-45deg);
        top: 0;
    }
    .line_2 {
        opacity: 0;
    }
    .line_3 {
        /*45度回転させる*/
        transform: translateY(-10px) rotate(45deg);
        bottom: 0;
    }
}