@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


html {
    /* スムーススクロール */
    scroll-behavior: smooth;
}

.transition {
    transition: none !important;
}

/*********
body
**********/

html,
body {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
}

/*********
common
**********/
/*********
CTAボタンのオレンジ色
**********/
.common-btn-white {
    background-color: #fff;
    border-radius: 50px;
    padding: 1% 5%;
    border: solid 0.5px;
    margin: 50px auto;
    display: block;
    text-align: center;
}